<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>kry</title>
  <% if (useCnzz) { -%>
  <style>
    #cnzz_stat_icon_***{display: none;}
  </style>
  <% } -%>
  <link rel="icon" href="//b.keruyun.com/scm_kry/themes/style/img/favicon.ico" type="image/x-icon">
  <!-- meta -->
</head>
<body>
  <div id="root" class="app-root"></div>
  <!-- splitPoints -->
  <!-- initialState -->
  <!-- isPreload -->
  <% if (useCnzz) { -%>
  <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_***'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/stat.php%3Fid%3D***%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
  <% } -%>
</body>
</html>
