{
"parser": "@typescript-eslint/parser",
  "extends": [
    "eslint-config-umi",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/recommended"
  ],
  "plugins": ["@typescript-eslint", "typescript", "react", "react-hooks", "import", "jsx-a11y", "jsdoc"],
  "rules": {
    "@typescript-eslint/consistent-type-assertions": "off",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-triple-slash-reference": 0,
    "@typescript-eslint/prefer-interface": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "no-angle-bracket-type-assertion": false
  },
  "globals": {
    "window": true,
    "localStorage": true,
    "__HOST_API__": true,
    "__MOCK_API__": true,
    "__IS_RELEASE__": true,
    "__MOCK__": true,
    "API": true,
    "__isRelease__": true,
    "__SENTRY_VERSION__": true,
    "__IS_DEBUG_SENTRY__": true,
    "__DEV__": true
  }
}
